$main-color: #6eaeee;

#login {
    background-color: $main-color;
    height: 100%;
}

#navigation {
    background-color: $main-color;
    color: white;
}

html,
body {
    overflow: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
}